body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  .outside {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .inside {
    background-color: wheat;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    .close-btn{
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
      color: black;
    }
  }
  button{
    min-height: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .open-btn{
    background-color: rgb(108, 108, 199);
  }
  .sign-up-btn{
    background-color: rgb(151, 138, 120);
    margin-right: 25px;
  }
  .next-btn{
    background-color: dimgray;
  }
}
